@import (inline) "../../../node_modules/normalize.css/normalize.css";
@import "./row-colors.less";
@import "./shadow-mixins.less";

@player-colors: #f44336, #9c27b0, #2196f3, #4caf50, #ffc107;
@page-color: #b0bec5;

@size: 60px;

body {
  background: @page-color;
}

.stats, .platform {
  padding: 20px;
  text-align: center;
}

.percentage {
  width: (@size * 10 + 40px);
  height: (@size * 0.75);
  margin: 0 auto;
  position: relative;
  overflow: hidden;


  div {
    position: absolute;
    top: 0;
    height: 100%;
  }

  .p1 {
    z-index: 5;
    background:(extract(@player-colors, 1));
    width: 10%;
  }
  .p2 {
    z-index: 4;
    background:(extract(@player-colors, 2));
    width: 30%;
  }
  .p3 {
    z-index: 3;
    background:(extract(@player-colors, 3));
    width: 65%;
  }
  .p4 {
    z-index: 2;
    background:(extract(@player-colors, 4));
    width: 80%;
  }
  .p5 {
    z-index: 1;
    background:(extract(@player-colors, 5));
    width: 100%;
  }
}

.cell {
  display: inline-block;
  width: @size;
  height: @size;
  margin: 0px 2px;

  background: #fafafa;
  cursor: pointer;

  transition: background-color 0.2s ease, box-shadow 0.5s cubic-bezier(.4, 0, .2, 1);

  &:not(.active):hover {
    .shadow-z-1-hover();
  }

  &.active {
    cursor: not-allowed;
  }
}
